#page-container {
    position: relative;
    min-height: 100vh;
  }

  #navbar {
    background-color: #e6924e;
  }

  #definitionCSS {
    background-color: #f3c59f;
  }
  
  #content-wrap {
    padding-bottom: 2.5rem;    /* altura de pie de página */
  }

  #letter-button {
    background-color: #e6924e;
    color: white;
    padding: 5px 7px;
    margin: 1px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

  
  #footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            /* altura de pie de página */
  }